@using System.Diagnostics
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager;
@inject UserManager<IdentityUser> UserManager;



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dahshop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    @*
        Scripts and links from the build of Vue CLI
        ~/dist
    *@
    @* <link rel="icon" href="~/dist/favicon.ico" /> *@
    <link href="~/dist/css/chunk-c27ed67c.d7ab0fc0.css" rel="prefetch" />
    <link href="~/dist/js/chunk-c27ed67c.e0c68a6d.js" rel="prefetch" />
    <link href="~/dist/css/app.8ed82736.css" rel="preload" as="style" />
    <link href="~/dist/js/app.21bb0990.js" rel="preload" as="script" />
    <link href="~/dist/js/chunk-vendors.aed42874.js" rel="preload" as="script" />
    <link href="~/dist/css/app.8ed82736.css" rel="stylesheet" />
</head>

<body>
    
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Dahshop</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        
                        @* Not logged in *@
                        @if (!SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        }
                        
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>                            
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <noscript
      ><strong
        >We're sorry but vue-project doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      ></noscript>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Dahshop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true" type="text/javascript" ></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.js"></script>    
             
            @* Use Vue3 when devtools is working   
    <script src="https://unpkg.com/vue@next" defer></script> *@


@*
@{
    var contextAction = (string)ViewContext.RouteData.Values["controller"];

    if (contextAction != null){

        if (contextAction.Equals("Home"))
        {
            <script src="~/js/clientToServerController.js"></script>
            <script src="~/js/displayItems.js"></script>
        }
        
        if (contextAction.Equals("Content")){
            <script src="~/js/clientToServerController.js"></script>
            <script src="~/js/imageLoader.js"></script>
        }
        
        if (contextAction.Equals("Vue")){
            <script src="~/js/addVueContent.js"></script>
        }
        
        
        
    }
} *@



@RenderSection("Scripts", required: false)
</body>
</html>
