@using System.Diagnostics
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager;
@inject UserManager<IdentityUser> UserManager;


@{
    ViewData["Title"] = "Home Page";
}

    @*
        Scripts and links from the build of Vue CLI
        ~/dist
    *@
    @* <link rel="icon" href="~/dist/favicon.ico" /> *@
    <link href="~/dist/css/chunk-c27ed67c.d7ab0fc0.css" rel="prefetch" />
    <link href="~/dist/js/chunk-c27ed67c.2e4af68c.js" rel="prefetch" />
    <link href="~/dist/css/app.571e7ce4.css" rel="preload" as="style" />
    <link href="~/dist/js/app.01333f73.js" rel="preload" as="script" />
    <link href="~/dist/js/chunk-vendors.2b0e3dab.js" rel="preload" as="script" />
    <link href="~/dist/css/app.571e7ce4.css" rel="stylesheet" />


@* Vue app *@

<div id="app"></div>
    
    @* Vue CLI script *@
    <script src="~/dist/js/chunk-vendors.2b0e3dab.js"></script>
    <script src="~/dist/js/app.01333f73.js"></script>
