@{
    ViewData["Title"] = "Home Page";
}

<div id="app"></div>

@*
    Import the necessary scripts from the Vue build
*@

<script src="~/dist/js/chunk-vendors.1320bd74.js"></script>
<script src="~/dist/js/app.ebb43e49.js"></script>
