@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<div class="text-center">
    
    <p>
        This site doesnt use your data in any other way. Other than being used to make orders
    </p>
    
</div>
