<!DOCTYPE html>
<html lang="en">
<head>
    <title>Content</title>
</head>

<!--
<body>
<header>
    <h1>File API - FileReader</h1>
</header>

<div id="postItem">
    <article>
        <label for="files">Select multiple files: </label>
        <input id="files" type="file" multiple/>
        <button type="button" id="clear">Clear</button>
        <output id="result"></output>
    </article>
</div> 

</body>---->




<body>

<h6 class="necessaryInfo"></h6>

<div id="app" class="container-fluid text-center">
    
    <h2> Add new content here </h2>
    
    <br/>
    <br/>

    <div class="container C-center border-dark" style="height: auto; width: auto">
        
        <p>
            Legg til bilder her
        </p>
        
        <br/> 
        
        <article>
            
            <form id="post-form" class="post-form" method="post">
                <label for="files">Select multiple files: </label>
                <input id="files" class="itemFile" type="file" multiple v-on:change="uploadItemFiles()"/>
                <button type="button" id="clear">Clear</button>
                <output id="result"></output>
            </form>
            
        </article>
        

    </div>
    
    <br>
    <br>
    
    <div class="C-center crflbd formLayout">
        
        <div class="form-group formLayout">
            <label for="item">Item:</label>
            <input id="item" placeholder="Ex: Vintage jacket" v-model="item.name">
            <span class="text-danger"></span>
        </div>
        
        <br>
        
        
        <div class="form-group formLayout">
            <label for="itemcolor">Color:</label>
            <input id="itemcolor" placeholder="Item color(s)" v-model="item.color">
            <span class="text-danger"></span>
        </div>

        <br>
        
        
        <div class="form-group formLayout">
            <label for="itemsize">Size:</label>
            <input id="itemsize" placeholder="XS - S - M - L - XL - XXL" v-model="item.size">
            <span class="text-danger"></span>
        </div>

        <br>
        
        
        <div class="form-group formLayout">
            <label for="itemprice">Price:</label>
            <input type="number" id="itemprice" v-model="item.price"> KR
            <span class="text-danger"></span>
        </div>
        
        <br>
  
        <label for="iteminfo">Information about the item, is it new or used if so then for how long?
            <br>
            ETC...
        </label>
        
        <textarea id="iteminfo"  class="descriptionBox" v-model="item.description"></textarea>
        <br><br>
        
        <input type="button" value="Submit" class="btn btn-primary">

    </div>

</div>

</body>


</html>