@{
    ViewData["Title"] = "Post Item";
}

<h6 class="necessaryInfo"></h6>

<div id="app" class="container-fluid text-center">
    
    <h2> Post a new item! </h2>
    
    <br/>
    <br/>

    <div class="container C-center border-dark" style="height: auto; width: auto">
        
        <label>Item images:</label>
        <input type="file" class="itemFile" ref="itemFile" id="files" placeholder="Select images"  multiple v-on:change="uploadItemFile()"/>
        <span class="text-danger"></span>

    </div>
    
    <br>
    <br>
    
    <div class="C-center crflbd formLayout">
        
        <div class="form-group formLayout">
            <label >Item:</label>
            <input placeholder="Ex: Vintage jacket" v-model="item.name">
            <span class="text-danger"></span>
        </div>
        
        <br>
        
        
        <div class="form-group formLayout">
            <label>Color:</label>
            <input placeholder="Item color(s)" v-model="item.color">
            <span class="text-danger"></span>
        </div>

        <br>
        
        
        <div class="form-group formLayout">
            <label>Size:</label>
            <input placeholder="XS - S - M - L - XL - XXL" v-model="item.size">
            <span class="text-danger"></span>
        </div>

        <br>
        
        <div class="form-group formLayout">
            <label>Location:</label>
            <input placeholder="Oslo" v-model="item.location">
            <span class="text-danger"></span>
        </div>

        <br>
        
        
        <div class="form-group formLayout">
            <label>Price:</label>
            <input type="number" v-model="item.price"> KR
            <span class="text-danger"></span>
        </div>
        
        <br>
  
        <label class="iteminfo">Information about the item, is it new or used if so then for how long?
            <br>
            ETC...
        </label>
        
        <textarea class="descriptionBox" v-model="item.description"></textarea>
        <br><br>
        
        <button v-on:click="addItem" class="btn btn-primary">Upload</button>
        
    </div>

</div>
